extends base 

block contents 
    form(method="post")
        input(type="text", placeholder="Name", name="name", required, value=loggedInUser.name)
        input(type="text", placeholder="Email", name="email", required, value=loggedInUser.email)
        input(type="text", placeholder="Username", name="username", required, value=loggedInUser.username)
        input(type="text", placeholder="Location", name="location", required, value=loggedInUser.location)
        input(type="submit", value="Updata Profile") 